# You should at least set this.
token = ""

# Log file when running non-interactively.
# Default is $HOME/.cache/todoister/out.log
[log]
name = ""

# Argument and options for `todoister export`.
# Defaults are path: current directory, format: json, depth: 0
[export]
path = ""
format = ""
depth = 0
